* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("./assets/bg-mobile.jpg") no-repeat top center/cover;
}

body * {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

#container{
    width: 360px;
    margin: 56px auto 0 auto;
    border: 1px solid red;
    padding: 0 24px;
}

/* Profile */
#profile{
    text-align: center;
    margin: 24px 0;
}

#profile img {
    width: 112px;
}

#profile p{
    font-weight: 500;
    margin-top: 8px ;
}

/* Links */
#links{
    padding: 24px 0;
    display:flex ;
    flex-direction: column;
    gap: 16px;
}

#links li{
    list-style: none;
    
}

#links li a {
    text-decoration: none;
    padding: 16px 24px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);;

}
