* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #FFFFFF;
    --bg-url: url(./assets/bg-mobile.jpg) no-repeat top center / cover;
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color:  rgba(255, 255, 255, 0.1);
    --surface-color-hover:  rgba(0, 0, 0, 0.02);
    --highlight-color:  rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light{
    --text-color:#000000;
    --bg-url: url(./assets/bg-mobile-light.jpg) no-repeat top center / cover;
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color:  rgba(0, 0, 0, 0.05);
    --surface-color-hover:  rgba(0, 0, 0, 0.02);
    --highlight-color:  rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body{
    background: var(--bg-url);
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

#container{
    width: 360px;
    margin: 56px auto 0 auto;
    padding: 0 24px;
}

/* Profile */
#profile{
    text-align: center;
    margin: 24px 0;
}

#profile img {
    width: 112px;
    border: 1px solid var(--text-color);
    border-radius: 100%;
}

#profile p{
    font-weight: 500;
    margin-top: 8px ;
}

.light #switch button{
    right: 0;
    left: initial;
}

/* Switch */
#switch{
    width: 64px;
    position: relative;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: #FFFFFF var(--switch-bg-url) no-repeat center;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;

    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
    background: var(--surface-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* Links */
#links{
    padding: 24px 0;
    display:flex ;
    flex-direction: column;
    gap: 16px;
}

#links li{
    list-style: none;
    
}

#links li a {
    text-decoration: none;
    padding: 16px 24px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    background: var(--surface-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#links a:hover{
    background: var(--surface-color-hover);
    border: 1px solid var(--text-color);
}

/* Social-links */

#social-links{
    display:flex;
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
    padding: 24px 0;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;
    border-radius: 50%;
    transition: background 0.25;
}

#social-links a:hover{
    background: var(--highlight-color);
}

footer{
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}